<div class="ndivcloswe">
  <div class="top-notif-div">
    <div class="text-block-32 text-danger">OPENING HOURS : 9:30 AM - 8:30 PM</div>
  </div>
  <div class="close-copym">
    <img src="../assets/baseline_close_black_24dp_1baseline_close_black_24dp.png"class="close" alt="">
  </div>
</div>


<div id="backimg"class="head-sectionmnu">
  <div class="logo"><img src="../assets/visa-seeklogo.com.svg" loading="lazy" alt=""></div>
  <div class="single-food-name">
    <h1 class="heading text-white">Delivery Charges</h1>
  </div>
  <div class="new-menu-button-div">
    <a class="new-menu-button w-inline-block">
      <div class="div-block-49">
        <div class="text-block-39"><img src="../../assets/truck.svg" alt=""></div>
      </div>
      <div class="text-block-37" routerLink="table-booking">TABLE BOOKING</div>
    </a>
    
    <a routerLink="offer-promotion" class="new-menu-button w-inline-block">
      <div class="div-block-49">
        <div class="text-block-39"><img src="../../assets/truck.svg" alt=""></div>
      </div>
      <div class="text-block-37">OFFERS & PROMOTIONS</div>
    </a>
    <a routerLink="delivary-charges" class="new-menu-button w-inline-block">
      <div class="div-block-49">
        <div class="text-block-39"><img src="../../assets/truck.svg" alt=""></div>
      </div>
      <div class="text-block-37">Delivery Charges</div>
    </a>
  </div>
</div>

 <div class="delivery-charges-page">
     <div class="row">
         <div class="col-md-12">
          <div class="head-div-2 m-2">
              <div class="text-block-56-2">Check Delivery Charges to your Location</div>
            </div>
         </div>
     </div>
       
        <a data-w-id="cdfbb286-1826-f812-36d2-4b4eec8eac87" href="#" class="main-cart-btn w-inline-block">
          <div class="text-block-41"></div>
          <div class="text-block-36">2</div>
        </a>
        <div class="_52form w-form">
            <div class="row">
                <div class="col-md-3">

                </div>

                <div class="col-md-6">

                  <form id="wf-form-Book-A-Table" name="wf-form-Book-A-Table" data-name="Book A Table">
                      <div class="map-div"></div>
                      <div class="input-box rltv no"><label for="txtMembershipVisitCount" class="field-label">ENTER DELIVERY LOCATION</label></div>
                      <div class="input-box rltv"><input type="text" required="" name="txtDeliveryLocation" data-name="Txt Delivery Location" placeholder="89 Madison Avenue Sumter, NZ 29150" maxlength="256" id="txtDeliveryLocation" class="search-loc w-input">
                        <div class="text-block-15">.</div>
                      </div>
                      <div class="input-box double">
                        <div class="div-block-15 _1st"><label for="txtDeliveryCityName" class="field-label">STREET NAME</label><input type="text" id="txtDeliveryCityName" name="txtDeliveryCityName" data-name="Txt Delivery City Name" placeholder="Wellington" maxlength="256" class="pos-modal-txt-field w-input"></div>
                        <div class="div-block-15 _1st"><label for="txtDeliverySuburb" class="field-label">SUBURB</label><input type="text" id="txtDeliverySuburb" name="txtDeliverySuburb" data-name="Txt Delivery Suburb" placeholder="Suburb" maxlength="256" class="pos-modal-txt-field w-input"></div>
                      </div>
                      <div class="input-box double">
                        <div class="div-block-15 _1st"><label for="txtDeliveryCity-2" class="field-label">CITY</label><input type="text" id="txtDeliveryCity-2" name="txtDeliveryCity-2" data-name="Txt Delivery City 2" placeholder="Wellington" maxlength="256" class="pos-modal-txt-field w-input"></div>
                        <div class="div-block-15 _1st"><label for="txtDeliveryZipCode-2" class="field-label">ZIP CODE</label><input type="text" id="txtDeliveryZipCode-2" name="txtDeliveryZipCode-2" data-name="Txt Delivery Zip Code 2" placeholder="6568 6586" maxlength="256" class="pos-modal-txt-field w-input"></div>
                      </div>
                      <div class="submit-button-container"><input type="submit" value="ADD LOCATION" data-wait="Please wait..." class="bg-success modal-button-2 w-button  "></div>
                    </form>


              </div>

              <div class="col-md-3">

              </div>

            </div>
          
          <!-- <div class="success-message-2 w-form-done"><img src="https://uploads-ssl.webflow.com/5fddedd7083cee92b32ab994/5fddedd8d125bd950ae0d404_marca-de-verificacion.svg" width="40" alt="">
            <p>Thank you! Your submission has been received!<br>You will receive a Confirmation Email from our Team.</p>
          </div> -->
          <!-- <div class="error-message-3 w-form-fail">
            <p>Oops! Something went wrong while submitting the form</p>
          </div> -->
        </div>
        <div class="row">
            <div class="col-md-12">
              <div class="delivery-charges-div">
                  <div class="alert">
                    <div class="text-block-57">Distance to your Location</div>
                    <div class="text-block-57 _2"> <span>15 Km</span></div>
                  </div>
                  <div class="alert">
                    <div class="text-block-57">Minimum Order value to your location</div>
                    <div class="text-block-57 _2"> <span>$ 200</span></div>
                  </div>
                  <div class="alert">
                    <div class="text-block-57">Delivery Charges</div>
                    <div class="text-block-57 _2"> <span>$ 5</span></div>
                  </div>
                </div>
            </div>
        </div>
       
      </div>












     