<div class="sign-up">
    <div style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
        <div class="ndivcloswe">
            <div class="top-notif-div">
              <div class="text-block-32 text-danger">OPENING HOURS : 9:30 AM - 8:30 PM</div>
            </div>
            <div class="close-copym">
              <img src="..//assets/baseline_close_black_24dp_1baseline_close_black_24dp.png"class="close" alt="">
            </div>
          </div>
        <div class="menubox">
            <nav class="navbar navbar-light bg-light nbar" >
                <div class="container ">
                <div class="logo">
                  <a class="navbar-brand" href="#"><img src="../../assets/logo-13.png" loading="lazy" width="80" height="80" alt=""></a>
                </div>
                <div class="nav-bar-items">
                    <div class="nav-signle">
                      <a href="#" class="nav-link"><i class="fas fa-utensils"></i></a>
                    </div>
                    <div class="nav-signle">
                      <a href="offer-promotion" class="nav-link"><i class="fas fa-dollar-sign"></i></a>
                    </div>
                    <div class="nav-signle">
                      <a href="#" class="nav-link"><i class="fas fa-info-circle"></i></a>
                    </div>
                    <div class="nav-signle ">
                      <a href="cart-page" class="nav-link"><i class="fas fa-cart-plus"></i></a>
                      <div class="text-block-5">2</div>
                    </div>
                  </div>

                </div>
              </nav>
              

        </div>
        

        <div class="main-content user-login">
            <div>
              <div class="form-wrapper">
                <h2 class="heading-6">SIGN UP WITH LOCALMATE</h2>
                <div class="form-box">
                  <h3 class="heading-7">Use your social profile to register</h3>
                  <div class="social-box">
                    <a href="https://mail.google.com/mail/u/0/#inbox" class="social-login w-inline-block"><img src="../../assets/G.png" alt="" class="image-11">
                      <div class="div-block-42">
                        
                        <div class="text-block-26"> SIGN UP WITH GOOGLE</div>
                      </div>
                    </a>
                    <a routerLink="Sign-in-model" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#Sign-in-model" class="social-login w-inline-block"><i class="fas fa-user-plus image-11"></i>
                      <div class="div-block-42">
                        <p style="padding:0px;color: black;">If Already Member:</p>
                        <div class="text-block-in"> SIGN IN</div>
                      </div>
                    </a>
                  </div>
                  
                  <div class="div-block-6-copy">
                    <div class="_1px-div-line"></div>
                    <h3 class="heading-7">Or register now</h3>
                    <div class="_1px-div-line"></div>
                  </div>
                  <div class="w-form">
                    <form id="email-form" name="email-form" data-name="Email Form">
                      <div class="form-field-wrapper">
                        <div class="tblock"><label for="txtUserName" class="field-label-6">Name</label>
                            <input type="text" class="text-field-4 w-input" maxlength="256" name="txtUserName" data-name="txtUserName" placeholder="Name" id="txtUserName" required=""></div>
                        <div class="tblock"><label for="txtUserEmail" class="field-label-6">Last Name</label>
                            <input type="email" class="text-field-4 w-input" maxlength="256" name="txtUserEmail" data-name="txtUserEmail" placeholder="Email" id="txtUserEmail" required=""></div>
                        <div class="tblock _2"><label for="txtUserPhone" class="field-label-6">Email</label>
                            <input type="tel" class="text-field-4 w-input" maxlength="256" name="txtUserPhone" data-name="txtUserPhone" placeholder="Phone Number" id="txtUserPhone"></div>
                        <div class="tblock _2"><label for="txtUserPassword" class="field-label-6">Password</label>
                            <input type="text" class="text-field-4 w-input" maxlength="256" name="txtUserPassword" data-name="txtUserPassword" placeholder="Password" id="txtUserPassword" required="">
                            <input type="text" class="text-field-4 w-input" maxlength="256" name="txtUserPasswordRe" data-name="txtUserPasswordRe" placeholder="Re-enter Password" id="txtUserPasswordRe" required=""></div>
                      </div>
                      <input type="submit" value="Register" data-wait="Please wait..." class="button-4 registration w-button">
                    </form>
                    <div class="success-message w-form-done">
                      <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                      <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


    </div>

</div>
