
<div>
<div id="backimg"class="head-sectionmnu">
  <div class="logo"><img src="..//assets/visa-seeklogo.com.svg" loading="lazy" alt=""></div>
  <div class="single-food-name">
    <h2 class="heading text-white">PIZZA</h2>
  </div>
  <div class="new-menu-button-div">
    <a  routerLink="table-booking" class="new-menu-button w-inline-block">

      <div class="div-block-49">
        <div class="text-block-39"><i class="fas fa-chair"></i></div>
      </div>
      <div class="text-block-37">TABLE BOOKING</div>
  </a>
  <a  routerLink="offer-promotion" class="new-menu-button w-inline-block">
    <div class="div-block-49">
      <div class="text-block-39"><i class="fas fa-dollar-sign"></i></div>
    </div>
    <div class="text-block-37">OFFERS & PROMOTIONS</div>
</a>
   
    <a routerLink="delivary-charges" class="new-menu-button w-inline-block">
      <div class="div-block-49">
        <div class="text-block-39"><img src="../../assets/truck.svg" alt=""></div>
      </div>
      <div class="text-block-37">Delivery Charges</div>
    </a>
    <!-- sign-up section -->
    <a routerLink="sign-up" class="new-menu-button w-inline-block">
      <div class="div-block-49">
        <div class="text-block-39"><i class="fas fa-user-plus"></i></div>
      </div>
      <div class="text-block-37">Sign-Up / Sign-in</div>
    </a>
  </div>
</div>





<div class="row slid">
  <div class="col-md-12">
    <div id="pizza" class="tabs-menu w-tab-menu">
      <a (click)="getEachItem(data.ID)" *ngFor="let data of navData; let ind=index;" data-w-tab="Tab1" class="tab-link-1 w-inline-block w-tab-link w--current">
        <div  [style.background-image]="'url(' + data.URL + ')'" class="div-block-9 cat-1"></div>
        <div class="div-block-10">
          <div class="text-block-6">{{data.Name}}</div>
        </div>
      </a>
    </div>
  </div>
</div>



<div class="row full">
  <div class="col-md-9 bk">

    <div class="row row-cols-1 row-cols-md-3 g-3">
      <div *ngFor="let item of foodItems" >
      <div class="col">
        <div class="card h-100">
          <img [src]="item.URL" class="card-img-top" alt="Image ">
          <div class="card-body" >
            <h5 class="card-title">{{item.Name}}{{item.Name.length>3?"...............":""}}
              {{item.Price| currency}}</h5>
            <p class="card-text ">{{item.Description |slice:0:50 }}{{item.Description.length>50?"...":""}}</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn bn" data-bs-toggle="modal" data-bs-target="#addOnModal" (click)="addToCart(item.ID)" >ADD</button><br>
          </div>
        </div>
      </div>
    </div>
     
    </div>
  </div>
  
    <div class="col-md-2"  *ngIf="showMe">
      <div class="div-block-46">
        <div class="head cartt">
          <div class="div-block-50 d-flex">
            <h1 class="heading-10">Cart</h1>
            <div class="text-block-33">{{count}}</div>
          </div>
        </div>
    
         <div class="div-block-48">
          <div class="food-listt">
            
            <div class="single-food-list">
              <div *ngFor="let i of cartitem" >
              <div class="food-name-div">
                <div class="cart-food-name"> {{i.cartitem.Name}}</div>     
                <a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#addOnModal" class="customize-link">Customize <span class="customize-icon"><img src="../assets/orange.png"class="orange" alt=""></span></a>
              </div>
              <div class="cart-single-food-price">
                <div>{{i.cartitem.Price | currency}}</div>
                <div class="cart-food-name-copy">
                  <a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" class="link-5"><span class="food-name-ordered-number"><img src="../assets/close.svg" class="red"alt=""></span></a>
                </div>
              </div>
            </div>
          </div>
           
          </div>
        </div> 
        <div class="main-page-cart-div">
          <div class="sub-total">
            <div class="text-block-34">Sub total</div>
            <div class="text-block-34"><span class="text-span-8 text-warning">50$</span></div>
          </div>
          <div class="sub-total">
            <div class="text-block-34 small">Sub total</div>
          </div>
          <button class="check btn btn-success "routerLink="/cart-page">CHECKOUT</button>
        </div>
      </div>
    
    </div>
    

</div>

 





<button  (click)="toogleTag()" data-w-id="ada4c9cb-8314-5a37-78ce-f06115b9a61c"  class="main-cart-btn w-inline-block">
  <img src="../../assets/cart.jpeg"class="cart"alt="">
  
</button>

</div>


<div class="container">
  <!-- Button trigger modal -->
  <!-- Modal -->
  <div class="modal fade" id="addOnModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
            <h3 class="heading-3">Pizza One</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          ></button>
        </div>
        
        <div class="modal-body">
          <div class="foood-img"id="getmot" >
            <!-- <div class="foood-img"id="getmot"> -->
              <img src="/assets/pexels-ella-olsson-1640773.jpg" alt="pic" class="image-9"></div>
          <div class="food-para-modal">
            <p class="paragraph-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. </p>
            <div class="div-block-7">
              <div class="details-2">
                <div class="food-cat-2"><span class="text-span-2 red">Vegetarian</span><span class="text-span-4"></span></div>
                <div class="food-cat-2"><span class="text-span-2 red">Eggetarian </span><span class="text-span-4"></span></div>
                <div class="food-cat-2"><span class="text-span-2 red">Non-Veg </span></div>
              </div>
            </div>
          </div>
          <div class="food-name-modl">
            <h3 class="heading-2">Addons</h3>
            <div class="text-block">( Required)</div>
          </div>
          <div class="addon-list-selection-div-modal-2 border-radius">
            <div class="chaddon-checkbox w-form">
              <form id="email-form" name="email-form" data-name="Email Form"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-6" name="checkbox-6" data-name="Checkbox 6" class="w-checkbox-input checkbox-2"><span class="checkbox-label-2 w-form-label">Mayo</span></label></form>
              <div class="w-form-done"></div>
              <div class="w-form-fail"></div>
            </div>
          </div>
          <div class="addon-list-selection-div-modal-2">
            <div class="chaddon-checkbox w-form">
              <form id="email-form" name="email-form" data-name="Email Form"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input checkbox-2"><span class="checkbox-label-2 w-form-label">Garlic Mayo</span></label></form>
              <div class="w-form-done"></div>
              <div class="w-form-fail"></div>
            </div>
          </div>
          <div class="addon-list-selection-div-modal-2">
            <div class="chaddon-checkbox w-form">
              <form id="email-form" name="email-form" data-name="Email Form"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-3" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input checkbox-2"><span class="checkbox-label-2 w-form-label">Yogurt &amp; Mint</span></label></form>
              <div class="w-form-done"></div>
              <div class="w-form-fail"></div>

              <div class="number-input">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                <input class="quantity" min="0" name="quantity" value="1" type="number">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
              </div>

            </div>
          </div>
          <div class="food-name-modl">
            <h3 class="heading-2">Addons</h3>
            <div class="text-block">(Optional)</div>
          </div>
          <div class="addon-list-selection-div-modal-2">
            <div class="chaddon-checkbox w-form">
              <form id="email-form" name="email-form" data-name="Email Form"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-4" name="checkbox-4" data-name="Checkbox 2" class="w-checkbox-input checkbox-2"><span class="checkbox-label-2 w-form-label">Mustard - <strong>10$</strong></span></label></form>
              <div class="w-form-done"></div>
              <div class="w-form-fail"></div>

              <div class="number-input">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                <input class="quantity" min="0" name="quantity" value="1" type="number">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
              </div>

            </div>
          </div>
          
          <div class="addon-list-selection-div-modal-2">
            <div class="chaddon-checkbox w-form">
              <form id="email-form" name="email-form" data-name="Email Form"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-4" name="checkbox-4" data-name="Checkbox 2" class="w-checkbox-input checkbox-2"><span class="checkbox-label-2 w-form-label">Classic Dressing - <strong>5$</strong></span></label></form>
              <div class="w-form-done"></div>
              <div class="w-form-fail"></div>
            </div>
          </div>
          <div class="addon-list-selection-div-modal-2 border-radius-down">
            <div class="chaddon-checkbox w-form">
              <form id="email-form" name="email-form" data-name="Email Form"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-4" name="checkbox-4" data-name="Checkbox 2" class="w-checkbox-input checkbox-2"><span class="checkbox-label-2 w-form-label">Pepper - <strong>8$</strong></span></label>
              </form>
              <div class="w-form-done"></div>
              <div class="w-form-fail"></div>

              <div class="number-input">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                <input class="quantity" min="0" name="quantity" value="1" type="number">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
              </div>

            </div>
          </div>
          <div class="food-name-modl">
            <h3 class="heading-2">Food Type</h3>
            <div class="text-block">(Required)</div>
          </div>
          <div class="addon-list-selection-div-modal-2 border-radius">
            <div class="chaddon-checkbox w-form">
              <form id="email-form" name="email-form" data-name="Email Form"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-4" name="checkbox-4" data-name="Checkbox 2" class="w-checkbox-input checkbox-2"><span class="checkbox-label-2 w-form-label">Small<strong></strong></span></label></form>
              <div class="w-form-done"></div>
              <div class="w-form-fail"></div>
            </div>
          </div>
          <div class="addon-list-selection-div-modal-2">
            <div class="chaddon-checkbox w-form">
              <form id="email-form" name="email-form" data-name="Email Form"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-4" name="checkbox-4" data-name="Checkbox 2" class="w-checkbox-input checkbox-2"><span class="checkbox-label-2 w-form-label">Medium<strong></strong></span></label></form>
              <div class="w-form-done"></div>
              <div class="w-form-fail"></div>
            </div>
          </div>
          <div class="addon-list-selection-div-modal-2 border-radius-down">
            <div class="chaddon-checkbox w-form">
              <form id="email-form" name="email-form" data-name="Email Form"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-4" name="checkbox-4" data-name="Checkbox 2" class="w-checkbox-input checkbox-2"><span class="checkbox-label-2 w-form-label">Large<strong></strong></span></label></form>
              <div class="w-form-done"></div>
              <div class="w-form-fail"></div>
            </div>
          </div>
          <div class="food-name-modl">
            <h3 class="heading-2">Food Type</h3>
            <div class="text-block">(Optional)</div>
          </div>
          <div class="addon-list-selection-div-modal-2 border-radius">
            <div class="chaddon-checkbox w-form">
              <form id="email-form" name="email-form" data-name="Email Form"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-4" name="checkbox-4" data-name="Checkbox 2" class="w-checkbox-input checkbox-2"><span class="checkbox-label-2 w-form-label">Small<strong></strong></span></label></form>
              <div class="w-form-done"></div>
              <div class="w-form-fail"></div>
            </div>
          </div>
          <div class="addon-list-selection-div-modal-2">
            <div class="chaddon-checkbox w-form">
              <form id="email-form" name="email-form" data-name="Email Form"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-4" name="checkbox-4" data-name="Checkbox 2" class="w-checkbox-input checkbox-2"><span class="checkbox-label-2 w-form-label">Medium<strong></strong></span></label></form>
              <div class="w-form-done"></div>
              <div class="w-form-fail"></div>
            </div>
          </div>
          <div class="addon-list-selection-div-modal-2 border-radius-down">
            <div class="chaddon-checkbox w-form">
              <form id="email-form" name="email-form" data-name="Email Form"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-4" name="checkbox-4" data-name="Checkbox 2" class="w-checkbox-input checkbox-2"><span class="checkbox-label-2 w-form-label">Large<strong></strong></span></label></form>
              <div class="w-form-done"></div>
              <div class="w-form-fail"></div>
            </div>
          </div>
          <div class="food-name-modl">
            <h3 class="heading-2">Extras</h3>
            <div class="text-block">(Required)</div>
          </div>
          <div class="addon-list-selection-div-modal-2 border-radius">
            <div class="chaddon-checkbox w-form">
              <form id="email-form" name="email-form" data-name="Email Form"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-4" name="checkbox-4" data-name="Checkbox 2" class="w-checkbox-input checkbox-2"><span class="checkbox-label-2 w-form-label">Pepsi - <strong>10$</strong></span></label>
                
              </form>
              <div class="w-form-done"></div>
              <div class="w-form-fail"></div>

              <div class="number-input">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                <input class="quantity" min="0" name="quantity" value="1" type="number">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
              </div>

            </div>
          </div>
          <div class="addon-list-selection-div-modal-2">
            <div class="chaddon-checkbox w-form">
              <form id="email-form" name="email-form" data-name="Email Form"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-4" name="checkbox-4" data-name="Checkbox 2" class="w-checkbox-input checkbox-2"><span class="checkbox-label-2 w-form-label">Coca-Cola - <strong>10$</strong></span></label>
                
              </form>
              <div class="w-form-done"></div>
              <div class="w-form-fail"></div>
              <div class="number-input">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                <input class="quantity" min="0" name="quantity" value="1" type="number">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
              </div>
              
            </div>
          </div>
          <div class="addon-list-selection-div-modal-2 border-radius-down">
            <div class="chaddon-checkbox w-form">
              <form id="email-form" name="email-form" data-name="Email Form"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-4" name="checkbox-4" data-name="Checkbox 2" class="w-checkbox-input checkbox-2"><span class="checkbox-label-2 w-form-label">Mirinda - <strong>8$</strong></span></label>
                
              </form>
              <div class="w-form-done"></div>
              <div class="w-form-fail"></div>

              <div class="number-input">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                <input class="quantity" min="0" name="quantity" value="1" type="number">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
              </div>

            </div>
          </div>
          <div class="food-name-modl">
            <h3 class="heading-2">Extras</h3>
            <div class="text-block">(Optional)</div>
          </div>
          <div class="addon-list-selection-div-modal-2 border-radius">
            <div class="chaddon-checkbox w-form">
              <form id="email-form" name="email-form" data-name="Email Form"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-4" name="checkbox-4" data-name="Checkbox 2" class="w-checkbox-input checkbox-2"><span class="checkbox-label-2 w-form-label">Pepsi - <strong>10$</strong></span></label>
                
              </form>
              <div class="w-form-done"></div>
              <div class="w-form-fail"></div>

              <div class="number-input">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                <input class="quantity" min="0" name="quantity" value="1" type="number">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
              </div>

            </div>
          </div>
          <div class="addon-list-selection-div-modal-2">
            <div class="chaddon-checkbox w-form">
              <form id="email-form" name="email-form" data-name="Email Form"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-4" name="checkbox-4" data-name="Checkbox 2" class="w-checkbox-input checkbox-2"><span class="checkbox-label-2 w-form-label">Coca-Cola - <strong>10$</strong></span></label>
                
              </form>
              <div class="w-form-done"></div>
              <div class="w-form-fail"></div>

              <div class="number-input">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                <input class="quantity" min="0" name="quantity" value="1" type="number">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
              </div>

            </div>
          </div>
          <div class="addon-list-selection-div-modal-2 border-radius-down">
            <div class="chaddon-checkbox w-form">
              <form id="email-form" name="email-form" data-name="Email Form"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-4" name="checkbox-4" data-name="Checkbox 2" class="w-checkbox-input checkbox-2"><span class="checkbox-label-2 w-form-label">Mirinda - <strong>8$</strong></span></label>
               
              </form>
              <div class="w-form-done"></div>
              <div class="w-form-fail"></div>

              <div class="number-input">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                <input class="quantity" min="0" name="quantity" value="1" type="number">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
              </div>

            </div>
          </div>
          <div class="food-note">
            <div class="w-form">
              <form id="email-form-3" name="email-form-3" data-name="Email Form 3" ><label for="name" class="notes-label">Notes to Cook</label>
                <textarea placeholder="Type your notes" maxlength="5000" id="field-4" name="field-4" class="notes-text-field w-input"></textarea></form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
          <div class="add-qty-div">
            <h3 class="heading-2">Quantity</h3>
            <div class="chaddon-checkbox w-form">
              <div class="number-input">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                <input class="quantity" min="0" name="quantity" value="1" type="number">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
              </div>
              <div class="w-form-done"></div>
              <div class="w-form-fail"></div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button routerLink="cart-page" type="button" style="width:400px" class="btn btn-warning"
          >ADD TO CART</button>
        </div>
      </div>
    </div>
  </div>
</div>




































