
 <div class="ndivcloswe">
  <div class="top-notif-div">
    <div class="text-block-32 text-danger">OPENING HOURS : 9:30 AM - 8:30 PM</div>
  </div>
  <div class="close-copym">
    <img src="../assets/baseline_close_black_24dp_1baseline_close_black_24dp.png"class="close" alt="">
  </div>
</div>


<div id="backimg"class="head-sectionmnu">
  <div class="logo"><img src="../assets/visa-seeklogo.com.svg" loading="lazy" alt=""></div>
  <div class="single-food-name">
    <h2 class="heading text-white">PIZZA</h2>
  </div>
  <div class="new-menu-button-div">
    <a class="new-menu-button w-inline-block">
      <div class="div-block-49">
        <div class="text-block-39"><img src="../../assets/truck.svg" alt=""></div>
      </div>
      <div class="text-block-37"routerLink="/table-booking">TABLE BOOKING</div>
    </a>
    
    <a routeLink="/offer-promotion" class="new-menu-button w-inline-block">
      <div class="div-block-49">
        <div class="text-block-39"><img src="../../assets/truck.svg" alt=""></div>
      </div>
      <div class="text-block-37">OFFERS</div>
    </a>
    <a routeLink="/delivary-charges" class="new-menu-button w-inline-block">
      <div class="div-block-49">
        <div class="text-block-39"><img src="../../assets/truck.svg" alt=""></div>
      </div>
      <div class="text-block-37">Delivery Charges</div>
    </a>
  </div>
</div>




<div class="row slid">
  <div class="col-md-12">


    <div class="tabs-menu w-tab-menu">
      <a data-w-tab="Tab1" class="tab-link-1 w-inline-block w-tab-link w--current">
        <div class="div-block-9 cat-1"></div>
        <div class="div-block-10">
          <div class="text-block-6">Pizza</div>
        </div>
      </a>
      <a data-w-tab="Tab2" class="tab-link-1 w-inline-block w-tab-link">
        <div class="div-block-9"></div>
        <div class="div-block-10">
          <div>Salads</div>
        </div>
      </a>
      <a data-w-tab="Tab 3" class="tab-link-1 w-inline-block w-tab-link">
        <div class="div-block-9"></div>
        <div class="div-block-10">
          <div>Juice</div>
        </div>
      </a>
      <a data-w-tab="Tab 4" class="tab-link-1 w-inline-block w-tab-link">
        <div class="div-block-9"></div>
        <div class="div-block-10">
          <div>Meals</div>
        </div>
      </a>
      <a data-w-tab="Tab 10" class="tab-link-1 w-inline-block w-tab-link">
        <div class="div-block-9"></div>
        <div class="div-block-10">
          <div>Veggies</div>
        </div>
      </a>
      <a data-w-tab="Tab 11" class="tab-link-1 w-inline-block w-tab-link">
        <div class="div-block-9"></div>
        <div class="div-block-10">
          <div>Veggies</div>
        </div>
      </a>
      <a data-w-tab="Tab 12" class="tab-link-1 w-inline-block w-tab-link">
        <div class="div-block-9"></div>
        <div class="div-block-10">
          <div>Veggies</div>
        </div>
      </a>
      <a data-w-tab="Tab 13" class="tab-link-1 w-inline-block w-tab-link">
        <div class="div-block-9"></div>
        <div class="div-block-10">
          <div>Veggies</div>
        </div>
      </a>
      <a data-w-tab="Tab 14" class="tab-link-1 w-inline-block w-tab-link">
        <div class="div-block-9"></div>
        <div class="div-block-10">
          <div>Veggies</div>
        </div>
      </a>
      <a data-w-tab="Tab 15" class="tab-link-1 w-inline-block w-tab-link">
        <div class="div-block-9"></div>
        <div class="div-block-10">
          <div>Veggies</div>
        </div>
      </a>
      <a data-w-tab="Tab 16" class="tab-link-1 w-inline-block w-tab-link">
        <div class="div-block-9"></div>
        <div class="div-block-10">
          <div>Veggies</div>
        </div>
      </a>
      <a data-w-tab="Tab 17" class="tab-link-1 w-inline-block w-tab-link">
        <div class="div-block-9"></div>
        <div class="div-block-10">
          <div>Veggies</div>
        </div>
      </a>
      <a data-w-tab="Tab 18" class="tab-link-1 w-inline-block w-tab-link">
        <div class="div-block-9"></div>
        <div class="div-block-10">
          <div>Veggies</div>
        </div>
      </a>
      <a data-w-tab="Tab 19" class="tab-link-1 w-inline-block w-tab-link">
        <div class="div-block-9"></div>
        <div class="div-block-10">
          <div>Veggies</div>
        </div>
      </a>
    </div>






  </div>
</div>










<div class="row imgs">
  <div class="col-md-9">
      
      <div class="card-group mt-5 m-5">
      
        <div class="card border-0">
          <img src="../assets/Pizza-from-Scratch_EXPS_FT20_8621_F_0505_1_home-p-500.jpeg" class="card-img-top" alt="...">
          
         
          <button type="button" class="add btn btn-warning ">ADD</button>
          
        </div>
        <div class="card border-0">
          <img src="../assets/Pizza-from-Scratch_EXPS_FT20_8621_F_0505_1_home-p-500.jpeg" class="card-img-top" alt="...">
         
          
          <button type="button" class="add btn btn-warning w-100">ADD</button>
          
        </div>
        <div class="card border-0">
          <img src="../assets/Pizza-from-Scratch_EXPS_FT20_8621_F_0505_1_home-p-500.jpeg" class="card-img-top" alt="...">
          
         
          <button type="button" class="add btn btn-warning w-100">ADD</button>
          
        </div>
       
      
      </div>
      
      <div class="card-group mt-5 m-5">
      
        <div class="card border-0">
          <img src="../assets/Pizza-from-Scratch_EXPS_FT20_8621_F_0505_1_home-p-500.jpeg" class="card-img-top" alt="...">
          
         
          <button type="button" class="add btn btn-warning w-100">ADD</button>
          
        </div>
        <div class="card border-0">
          <img src="../assets/Pizza-from-Scratch_EXPS_FT20_8621_F_0505_1_home-p-500.jpeg" class="card-img-top" alt="...">
         
          
          <button type="button" class="add btn btn-warning w-100">ADD</button>
          
        </div>
        <div class="card border-0">
          <img src="../assets/Pizza-from-Scratch_EXPS_FT20_8621_F_0505_1_home-p-500.jpeg" class="card-img-top" alt="...">
          
         
          <button type="button" class="add btn btn-warning w-100">ADD</button>
          
        </div>
      
      
      </div>
      
      
      
      <div class="card-group mt-5 m-5">
      
        <div class="card border-0">
          <img src="../assets/Pizza-from-Scratch_EXPS_FT20_8621_F_0505_1_home-p-500.jpeg" class="card-img-top" alt="...">
          
         
          <button type="button" class="add btn btn-warning w-100">ADD</button>
          
        </div>
        <div class="card border-0">
          <img src="../assets/Pizza-from-Scratch_EXPS_FT20_8621_F_0505_1_home-p-500.jpeg" class="card-img-top" alt="...">
         
          
          <button type="button" class="add btn btn-warning w-100">ADD</button>
          
        </div>
        <div class="card border-0">
          <img src="../assets/Pizza-from-Scratch_EXPS_FT20_8621_F_0505_1_home-p-500.jpeg" class="card-img-top" alt="...">
          
         
          <button type="button" class="add btn btn-warning w-100">ADD</button>
          
        </div>
       
      
      </div>

  </div>

  <div *ngIf="showMe"class="col-md-3">
    <div class="div-block-46">
      <div class="head cartt">
        <div class="div-block-50 d-flex">
          <h1 class="heading-10">Cart</h1>
          <div class="text-block-33">5 Items</div>
        </div>
        <!-- <div data-w-id="e2a539aa-54a3-5cce-9192-33ea50f27841" class="div-block-51">
          <a href="#" class="link-13"><span class="text-span-9"></span></a>
        </div> -->
      </div>
      <div class="div-block-48">
        <div class="food-listt">
          <div class="single-food-list">
            <div class="food-name-div">
              <div class="cart-food-name"> Pizza x2</div>
              <a href="#" class="customize-link">Customize <span class="customize-icon"><img src="../assets/orange.png"class="orange" alt=""></span></a>
            </div>
            <div class="cart-single-food-price">
              <div>$10</div>
              <div class="cart-food-name-copy">
                <a href="#" class="link-5"><span class="food-name-ordered-number"><img src="../assets/close.svg" class="red"alt=""></span></a>
              </div>
            </div>
          </div>
          <div class="single-food-list">
            <div class="food-name-div">
              <div class="cart-food-name"> Chicken bitriyani x2</div>
              <a href="#" class="customize-link">Customize <span class="customize-icon"><img src="../assets/orange.png" class="orange"alt=""></span></a>
            </div>
            <div class="cart-single-food-price">
              <div>$20</div>
              <div class="cart-food-name-copy">
                <a href="#" class="link-5"><span class="food-name-ordered-number"><img src="../assets/close.svg" class="red"alt=""></span></a>
              </div>
            </div>
          </div>
          <div class="single-food-list">
            <div class="food-name-div">
              <div class="cart-food-name">Burger</div>
              <a href="#" class="customize-link">Customize <span class="customize-icon"><img src="../assets/orange.png"class="orange" alt=""></span></a>
            </div>
            <div class="cart-single-food-price">
              <div>$2</div>
              <div class="cart-food-name-copy">
                <a href="#" class="link-5"><span class="food-name-ordered-number"><img src="../assets/close.svg" class="red"alt=""></span></a>
              </div>
            </div>
          </div>
          <div class="single-food-list">
            <div class="food-name-div">
              <div class="cart-food-name"> Pizza x2</div>
              <a href="#" class="customize-link">Customize <span class="customize-icon"><img src="../assets/orange.png"class="orange" alt=""></span></a>
            </div>
            <div class="cart-single-food-price">
              <div>$10</div>
              <div class="cart-food-name-copy">
                <a href="#" class="link-5"><span class="food-name-ordered-number"><img src="../assets/close.svg" class="red"alt=""></span></a>
              </div>
            </div>
          </div>
          <div class="single-food-list">
            <div class="food-name-div">
              <div class="cart-food-name"> Pizza x2</div>
              <a href="#" class="customize-link">Customize <span class="customize-icon"><img src="../assets/orange.png"class="orange" alt=""></span></a>
            </div>
            <div class="cart-single-food-price">
              <div>$10</div>
              <div class="cart-food-name-copy">
                <a href="#" class="link-5"><span class="food-name-ordered-number"><img src="../assets/close.svg" class="red"alt=""></span></a>
              </div>
            </div>
          </div>
          <div class="single-food-list">
            <div class="food-name-div">
              <div class="cart-food-name"> Pizza x2</div>
              <a href="#" class="customize-link">Customize <span class="customize-icon"><img src="../assets/orange.png"class="orange" alt=""></span></a>
            </div>
            <div class="cart-single-food-price">
              <div>$10</div>
              <div class="cart-food-name-copy">
                <a href="#" class="link-5"><span class="food-name-ordered-number"><img src="../assets/close.svg" class="red"alt=""></span></a>
              </div>
            </div>
          </div>
          <div class="single-food-list">
            <div class="food-name-div">
              <div class="cart-food-name"> Pizza x2</div>
              <a href="#" class="customize-link">Customize <span class="customize-icon"><img src="../assets/orange.png"class="orange" alt=""></span></a>
            </div>
            <div class="cart-single-food-price">
              <div>$10</div>
              <div class="cart-food-name-copy">
                <a href="#" class="link-5"><span class="food-name-ordered-number"><img src="../assets/close.svg" class="red"alt=""></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-page-cart-div">
        <div class="sub-total">
          <div class="text-block-34">Sub total</div>
          <div class="text-block-34"><span class="text-span-8 text-warning">50$</span></div>
        </div>
        <div class="sub-total">
          <div class="text-block-34 small">Sub total</div>
        </div>
        <button class="check btn btn-success "routerLink="/cart-page">CHECKOUT</button>
      </div>
    </div>

  </div>
</div> 







<button  (click)="toogleTag()" data-w-id="ada4c9cb-8314-5a37-78ce-f06115b9a61c"  class="main-cart-btn w-inline-block">
  <img src="../../assets/cart.jpeg"class="cart"alt="">
  
</button>






























